@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
.page-consent,.page-consent *,.page-consent *:before,.page-consent *:after{font-family:'PSLKandaBold';}
.page-consent *,.page-consent *:before,.page-consent *:after {box-sizing: border-box;}
body{background: #fff}
#footer2f[style*="padding"]{padding-top: 0!important}
.page-consent{background: url("di/bg-white.png") 50% 0 no-repeat #f37022;background-size: cover}
.box-cs{background: #fff; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); margin: 100px auto;width: 960px;max-width: 100%}
.h-outbox{margin: 100px auto 30px; text-align: center}
.h-outbox+.box-cs{margin-top: 0}
.choice-cs{padding: 3vw}
.choice-cs>li{display: flex;flex-flow: row wrap;align-items: center;}
.choice-cs>li:not(:last-child){border-bottom: 1px solid #C6C6C6; padding-bottom:30px; margin-bottom:30px}
.choice-cs>li>figure{ flex-basis: 30%; max-width: 30%}
.choice-cs>li>figure img{display: block;max-width: 80%;margin: 0 auto}
.choice-cs>li>div{ flex: 1 1 0}
.choice-cs>li p{font-family: "Sarabun";font-size: 15px}
.choice-cs>li>div>*{ margin-bottom: 20px}
.choice-cs>li>div>h2{line-height: 90%}
.choice-cs>li>div>p{margin-bottom: 30px}
.choice-cs>li>div [class*="ui-btn"]{}
/*form*/
[class*="ui-btn"]{background-color: #F37022; color: #fff; border: none; padding: 10px 20px 10px 30px; font-size:24px;font-family:'PSLKandaBold';cursor: pointer;border-radius: 5rem;-webkit-border-radius: 5rem}
[class*="ui-btn"][class*="-sq"]{ border-radius: 3px;-webkit-border-radius: 3px}
[class*="ui-btn"] i{display: inline-block;vertical-align: middle;margin-left: 8px;}
[class*="ui-btn"]:hover {opacity: 0.8;color: #fff;text-decoration: none}
[class*="ui-btn"][class*="-sm"]{ padding: 5px 20px 5px 10px}
.text-box,.select-box {padding: 10px; width: 100%; font-size: 18px;  border: 1px solid #D2D2D2;border-radius: 3px;-webkit-border-radius: 3px}
.mt1{margin-top: 10px}
.mt2{margin-top: 20px}
.mt3{margin-top: 30px}
.mb1{margin-bottom:10px}
.mb2{margin-bottom:20px}
.mb3{margin-bottom:30px}
/*selectbox*/
[class*="cv-select"] select{-webkit-appearance:none;appearance:none;padding-right:30px!important;cursor:pointer}
@media screen and (-webkit-min-device-pixel-ratio:0) {[class*="cv-select"] *{padding-right:24px!important}}
[class*="cv-select"]{display:block;position:relative;min-height:36px}
[class*="cv-select"]:before,[class*="cv-select"]:after{content:"";display:block;pointer-events:none;position:absolute;right:16px;border-left:8px solid transparent;border-right:8px solid transparent}
[class*="cv-select"]:before{border-top:8px solid #666;border-left-width:9px;border-right-width:9px;right:15px;top:50%;margin-top:-2px;z-index:9}
[class*="cv-select"]:after{border-top:7px solid #fff;top:50%;margin-top:-3px;z-index:9}
[class*="cv-select"] select option{line-height:25px;font-family: "Sarabun"}
/*check*/
.mz-chk{position:relative;overflow: hidden}
.mz-chk input[type=checkbox],.mz-chk input[type=radio]{position:absolute;width:100%; height:100%;opacity:0}
.mz-chk input+label{position:relative;min-height:26px; line-height:26px; padding-left:26px; font-size: 18px}
.mz-chk input+label:before{content:""; display:block;width:20px; height:20px; position:absolute;top:3px;left:0; background:#fff; text-indent:-9999px;cursor:pointer;border:1px solid #F37022;border-radius:.3em;-webkit-border-radius:.3em}
.mz-chk.cr input+label:before,.mz-chk input[type=radio]+label:before{border-radius:5em;-webkit-border-radius:5em}
.mz-chk input:checked+label:before{ background:#fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 10 10'%3E%3Cpath fill='%23F37022' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")  no-repeat;border-color:#F37022}
.mz-chk input[type=radio]:checked+label:before{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23F37022'/%3E%3C/svg%3E");border-color:#F37022}
/*switch toggle*/
.toggle {cursor:pointer;display:inline-block}
.toggle-switch {display:inline-block;background:#ccc;border-radius:16px;width:58px;height:32px;position:relative;vertical-align:middle;transition:background 0.25s}
.toggle-switch:before, .toggle-switch:after {content:""}
.toggle-switch:before {display:block;background:linear-gradient(to bottom, #fff 0%, #eee 100%);border-radius:50%;width:24px;height:24px;position:absolute;top:4px;left:4px;transition:left 0.25s;}
.toggle:hover .toggle-switch:before {background:linear-gradient(to bottom, #fff 0%, #fff 100%);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.2);}
.toggle-checkbox:checked + .toggle-switch {background:#56c080}
.toggle-checkbox:checked + .toggle-switch:before {left:30px;}
.toggle-checkbox{position:absolute;visibility:hidden}
.toggle-label{margin-left:5px;position:relative;top:2px}

/*check custom*/
/*.custom-checkbox .custom-control-label.indeterminate:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23FFFFFF' d='M0 2h4'/%3E%3C/svg%3E"); }
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }
.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23FFFFFF'/%3E%3C/svg%3E"); }*/
.txt-c{text-align: center}

.f-sarabun,.f-sarabun *{ font-family: "sarabun"!important}
.f-psl{ font-family: "PSLKandaBold"!important}
#consentForm {padding: 40px; min-width: 300px; }
.page-consent form *{font-family:'PSLKandaBold';}
#consentForm .tab{display: none; width: 100%; margin: 0px auto;}
#consentForm .current{display: block;}
#consentForm [class*="ui-btn"]{}
#consentForm .tab .head{margin: 40px 0;line-height: 90%}
#consentForm .tab .head.f-sarabun{font-size:18px;font-weight: 700}
#consentForm .tab .title{font-family: "Sarabun"; font-size: 16px}
.tab .rw{display: flex;flex-flow: row wrap;margin-bottom:30px;}
.tab .rw label{font-size:22px; padding: 10px;}
.tab .rw>*:first-child{position: relative;flex-basis: 25%; max-width: 25%;text-align: right;padding-right: 0;padding-left: 0; white-space: nowrap}
.tab .rw>*:first-child .rq{color: #FF0202; position:  absolute; right: -8px;font-size: 18px}
.tab .rw>div{ flex-basis: 400px; max-width: 100%; padding: 0 20px}
.tab .rw>*:first-child>label{padding: 0;line-height: 24px;}
.tab .rw .mz-chk{display: block;width: auto;}
.tab .rw .mz-chk input + label{ width: 80px; height: 25px;padding: 0 0 0 30px}
.tab .rw .mz-chk>label i{display: block}
.tab .rw .g-select{display: flex; flex-flow: row nowrap;margin-left: -10px; margin-right: -10px}
.tab .rw .g-select>*{padding: 0 10px;flex: 1 1 0;text-align: center}
.tab .rw .group-text,.tb-chk-dl{display: flex;flex-flow: row wrap;height: 100%;position: relative}
.tab .rw .group-text>.ic-label{flex-basis: 60px;max-width: 60px;height: 100%;border: 1px solid #D2D2D2;border-right: none; border-radius: 3px 0 0 3px;display:inline-flex; justify-content: center;align-items: center}
.tab .rw .group-text>.ic-label img{}
.tab .rw .group-text>input{ flex: 1 1 0; border-radius: 0 3px 3px 0}
.tab .rw .group-text>label.error,.cv-select2 label.error{position:  absolute; left: 0; right: 0;top: 100%; padding-top: 0; white-space: nowrap;font-size: 16px}
.tab .captcha{text-align: center}
[id*="consentForm"] .rw label.error {font-size: 16px;color: #f00;padding-top: 0;}
.tb-chk-dl{margin: 30px auto;border: 1px solid #F37022}
.tb-chk-dl>*{ padding: 30px 20px}
.tb-chk-dl>.disabled .mz-chk,.tb-chk-dl>.disabled ul>li{ color: #ACACAC}
.tb-chk-dl>.disabled ul>li.mz-chk{pointer-events: none}
.tb-chk-dl>.disabled ul>li.mz-chk input + label::before{background-color: #D8D8D8}
.tb-chk-dl>.col-r{flex: 1 1 0; padding-right: 10px; border-left: 1px solid #F37022}
.tb-chk-dl>* ul{margin: 20px 0 10px}
.tb-chk-dl>* ul>li{padding-left: 25px;list-style-type: none;font-size: 16px;line-height: 26px;margin-bottom: 5px}
[id="cs-step2"],[id="cs-step2"] .mz-chk input + label{font-size: 16px}
.text-help .t-orange{ color: #F37022}
.zone-terms>b{ display: block;margin-bottom: 10px}
.zone-terms .terms{position: relative;max-height: 270px; overflow: auto;border: 1px solid #CECECE; border-radius: 2px;padding: 10px 10px 0}
.zone-terms .terms ol{list-style-position: outside;margin-left: 30px}
.list-dl{display: flex; justify-content: center;margin: 50px auto}
.list-dl ul>li{ text-align: left;font-size: 16px; list-style-type: none;margin-bottom: 8px}
.list-dl ul>li [class*="ui-btn"]{margin-left: 10px}
.previous {background-color: #949599; }
#consentForm .tab~.ctrl-btn{margin-top: 50px}
#consentForm .tab~.ctrl-btn>.bar{display: flex;float: none!important;justify-content: center}
#consentForm .tab~.ctrl-btn [class*="ui-btn"]{ position: relative;width: 200px; max-width: 50%;padding: 10px; margin: 0 15px; text-align: center}
#consentForm .tab~.ctrl-btn .ps-btn{position: relative}
#consentForm .tab~.ctrl-btn .ps-btn [class*="ui-btn"]{max-width: 100%}
#consentForm .tab~.ctrl-btn .ps-btn .call{position: absolute;top: 0;left: 0;right: 0;bottom: 0;opacity:0;}
#consentForm #cs-step1.current~.ctrl-btn #call-select{display: none}
/*#consentForm .tab.current~.ctrl-btn [class*="ui-btn"]{text-indent:-9999px;}*/
#consentForm .tab.current~.ctrl-btn [class*="ui-btn"]:before{position: absolute;left: 0;right: 0; display: block; text-indent: 0}
/*#consentForm .tab.current~.ctrl-btn .next:before{content:"ยืนยันข้อมูล";}
#consentForm .tab.current~.ctrl-btn .previous:before{content:"ย้อนกลับ";}*/
#consentForm #cs-step3.current~.ctrl-btn .previous{display: none!important;}
#consentForm #cs-step3.current~.ctrl-btn .submit:before{/*content:"กลับหน้าแรก";*/ content: ""; height: 30px; background: url("di/icon-home.png") 19px 50% no-repeat; background-size: auto 21px}
.ctrl-btn .hid{display: none}
/* Make circles that indicate the steps of the form: */
.page-consent .stepbar{display: flex;flex-flow: row nowrap;position: relative; justify-content: space-between; margin-left: 3vw; margin-right: 3vw}
.page-consent .stepbar .step{ position: relative; text-align: center;font-size: 22px;}
.page-consent .stepbar:before{content: "";display: block;position: absolute;top: 28px;left:5%; width:90%; border-bottom: 2px solid #BDBDBD}
.page-consent .stepbar .step i{height: 60px; width: 60px; cursor: pointer; line-height: 56px; text-align: center;margin: 0 auto; border: 2px solid #F37022; background: url("di/ic-step1.png") 50% 50% no-repeat #fff; background-size: auto 50%;border-radius: 50%;-webkit-border-radius: 50%; display:block;}
.page-consent .stepbar .step i[class="s2"]{background-image: url("di/ic-step2.png")}
.page-consent .stepbar .step i[class="s3"]{background-image: url("di/ic-step3.png")}
.page-consent .stepbar .step span{color: #F37022}
.page-consent .stepbar .step.active {opacity: 1;color: #F37022;}
.page-consent .stepbar .step.active~.step{ pointer-events: none}
.page-consent .stepbar .step.active~.step span{color: #000}
.page-consent .stepbar .step.active~.step i{border-color: #BDBDBD;filter:grayscale(1) brightness(1.1)}
/*.page-consent .stepbar .step.finish {background-color: #4CAF50;}*/
/*popup*/
.thm-popup{display: none}
.thm-popup.fancybox-content{border-radius: 3px;-webkit-border-radius: 3px}
.thm-popup.large{width:800px;max-width:95%}
.thm-popup.min{width:570px;max-width:95%}
.box-middle{display:flex;flex-flow:column wrap;justify-content:center;font-size:16px;min-height:350px}
.box-middle .inner{max-width:100%;font-size:14px}
.box-middle .icon{display:block;margin-bottom:15px}
.box-middle .msg{padding:25px 0;min-height:100px;font-size:18px;color:#191919}
.box-middle .msg>*{margin-bottom:15px}
.box-middle [class*="ui-btn-sq"]{ display: inline-block;padding:5px 10px; min-width:150px;color: #fff!important}
/*responsive*/
@media (max-width:1023px){
.h-outbox{ line-height: 90%;margin-top:15px;font-size: 26px}
.tb-chk-dl > *{flex-basis: 50%;max-width: 50%}
#consentForm .tab .title br{display: none}
}
@media (max-width:767px){
#consentForm{padding: 10px}
.page-consent{background: #fff}
.box-cs{margin-top: 10px; margin-bottom: 10px;padding: 0; box-shadow: none;}
.page-consent .stepbar{margin: 0}
#consentForm .tab .head{font-size: 26px;text-align: left}
.thm-popup.large{padding: 10px}
.box-middle .msg > *{font-size: 14px}
.zone-terms .terms{height: auto;overflow: visible;border: none;max-height: none;padding: 0}
.list-dl ul > li{text-align: center;}
}

@media (max-width:480px){
.box-middle .msg > * br{ display: none}
.h-outbox{text-align: left}
.choice-cs>li>figure{ flex-basis: 100%; max-width: 100%}
.choice-cs>li>figure img{max-height:200px}
.choice-cs > li > div [class*="ui-btn"]{display: block;width: 200px; margin: 0 auto}
.page-consent .stepbar::before {top: 22px;left: 9%;width: 80%}
.page-consent .stepbar .step i{width: 45px;height: 45px;}
.page-consent .stepbar .step span{font-size: 19px}
.tab .rw > :first-child{flex-basis: 100%;max-width: 100%;text-align: left}
.tab .rw > :first-child .rq{position: relative;right: auto}
.tab .captcha *{max-width: 100%}
.tab .rw > div.auto{padding: 0}
.tb-chk-dl > *{flex-basis:100%;max-width:100%}
.tb-chk-dl > .col-r{border-left: none;border-top: 1px solid #F37022}
[id="cs-step2"], [id="cs-step2"] .mz-chk input + label{font-size: 14px}
#consentForm .tab ~ .ctrl-btn [class*="ui-btn"]{width:120px;font-size: 19px;padding: 5px 10px;}
#consentForm .tab ~ .ctrl-btn [class*="ui-btn"].submit{width:220px;padding-right: 0}
.list-dl ul > li{text-align: center;margin-bottom: 40px}
.list-dl ul > li [class*="ui-btn"]{display: block;margin: 15px auto 0;padding: 0 10px;max-width: 80%;}
.list-dl ul > li [class*="ui-btn"] i{margin-top: -5px}

}
