@charset "utf-8";
/*
 CSS Create by 2fellows
*/

#header2f, #wrapper2f, #menu2f, #footer2f, .section_related2f, .top-header2f a, #menu2f .nav > li > a, .popupsearch2f, .popup_login2f, .menu_level2f, .content-tabsearch2f,#packagepremuim h3,#payment2f,#payment2f ul li.stepfour2f table tr td,.container2f > div > div > span.orange2f { font-family: 'pslkandaboldbold'!important;}

.tooltip { font-size: 16px;}
.tooltip,.t-footer01,.footer-policy2f ul li a,
.topmain-search2f  .nav-tabs > li > a > span,
.list-footermenu2f ul li a,.faqresult ul.sem li{      font-family:  Tahoma, sans-serif;}
.t-footer01,.footer-policy2f ul li a,.topmain-search2f  .nav-tabs > li > a > span,
.list-footermenu2f ul li a{ font-size: 13px;}
.box-more{ top:5px;}
.t-footer01 span {
    display: block;
    float: left;
    margin-right: 5px;
}
.menu_level2f,.form-popup2f  .input2f .form-control,
.form-popup2f .checkbox,.form-popup2f u,.contentform select{     font-family: Tahoma, sans-serif!important;}
.menu_level2f ul.menulevel01 > li > a{ font-size:15px; font-weight:bold;}
.form-popup2f  .input2f .form-control,.form-popup2f .checkbox,.form-popup2f u a{ font-size:14px;}
.form-popup2f  .input2f .form-control{ line-height:30px;}
.chk_price2f input,.chk_price2f select,
#content_article2f .container2f .left_content2f .chk_price2f .content2f table tr td,#hospital2f > span,
.container2f > div > div > span,body{     font-family:  Tahoma!important; }
#packagepremuim h3,#payment2f ul li.stepfive2f p.txtpaym2f{ font-size:30px !important; line-height:30px;}
#payment2f ul li.stepfour2f table tr td.tbank01,
#payment2f ul li.stepfour2f table tr td.tbank02,
#payment2f ul li.stepfour2f table tr td.tbank03,
#payment2f ul li.stepfour2f table tr td.tbank04,
#payment2f ul li.stepfour2f table tr td.tbank05{
	font-size:20px !important;
	}
#payment2f ul li.stepfive2f p.txtpays2f{ font-size:22px !important;}
.content-planform2f table tr td.auto-style1 label,.contentform table tr td.boxform label,#form_fix2f table tr td span label{ display:inline; padding:0 5px;}
.content-planform2f table tr td.auto-style1 span,.content-planform2f table tr td span.rbgroup{ display:inline;}
#form_fix2f table tr td .chkchild2f{    margin: 14px 0 0 0 !important;}
.pay2f p {
	font-family:  "pslkandaboldbold" !important;
}
.pay2f p canvas {
	font-family:  "pslkandaboldbold" !important;
}
.tooltip-inner, .tooltop-arrow {
	display: block;
}
.tooltip-arrow {
	display: block;
}

.pop-tooltip-content {
	display: none;
}

.summarytable {
	width: 100%;
}

.input-tab2f .form-control {
	font-family:  "tahoma" !important;
	font-size: 16px!important;
}
.input-tab2f .form-control option {
	height: 10px;
	font-family:  "tahoma" !important;

}
.step1pay2f p{
	font-family:  "pslkandaboldbold" !important;
}
.step1pay2f .txtpay2f{
	margin-left: 0px;
}
.step2pay2f .txtpay22f {
	font-family:  "pslkandaboldbold" !important;
}
.txttd span{
	font-size: 13px;
	font-family:  "tahoma" !important;
}

.tbstep2 span{
	font-size: 13px;
	font-family:  "tahoma" !important;
}
.bg12f select {
	font-family:  "tahoma" !important;
	font-size: 12px;
}
.pluginButton button {
	width: 55px;
	height: 20px;
	background-color: #4c69ba;
	border:0;
}
.child span {
	padding-right: 0px;
}
.historyinsurance2f th,.historyinsurance2f span{
	font-size: 13px;
	font-family: tahoma;
}
.address-select label {
 	top: 0px;
 }
 #form_fix2f .headform2f span{
	font-family:  "pslkandaboldbold" !important;
}
#form_fix2f .headform2-2f span{
	font-family:  "pslkandaboldbold" !important;
}

#form_fix2f .headform3-2f span{
	font-family:  "pslkandaboldbold" !important;
}

#detail-formgen2f table.formgen2f tr td h2 {
	font-family:  "pslkandaboldbold" !important;
	font-size:28px!important;
	top: 5px;
	position: relative;
}

#headform-formgen2f .header2f {
		font-family:  "pslkandaboldbold" !important;
	font-size: 28px;
}

#confirmnonmotor .number {
	right: 20px!important;
}

#summarynoncancer .number {
	right: 20px!important;
}

.fixed2f .number {
	right: 20px!important;
}

.fixed2f table table {
	width:500px!important;
}

.radio-wrap div {
	float: left;
}

.fixed2f .radio-wrap {
	width: 200px;
}
.container2f > div > div > span.text2f{
  font-family:  "pslkandaboldbold" !important;
}
#formfix-cancer2f table tr td .t-fixcancer table tr td label{
  display: inline;
}
.btn-buy2f .btn{
  background-image: url(../images/bg-buy01.jpg) !important;
  background-repeat: no-repeat;
  background-position: left top;
  filter: none;
}
.home_slideitem2f .box-slideitem2f:hover .btn-buy2f .btn{
  background-image: url(../images/bg-buy02.jpg) !important;
  background-repeat: no-repeat;
  background-position: left top;
  filter: none;
}
table tr td .select2f,
.boxform-benefit .select2f,
table tr td select{
	font-family:tahoma;
	}
#formfix-luckypa2f .lucky-check2f label{top:-1px;}	
/* new formfix */
.check-answer2f  input[type="radio"]{
	top:2px;
	}
.check-status2f ul li label{top:-1px;}	