@charset "utf-8";
/* header */
/*.container {
    width: 95% !important;
}*/



.pop-tooltip {
    display: inline;
    position: relative;
    z-index: 888;
}

.pop-tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 190px;
    bottom: 100%;
    left: 50%;
    margin-left: -91px;
    padding: 10px 25px;
    text-align: center;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    -webkit-transform: scale3d(0.1,0.2,1);
    transform: scale3d(0.1,0.2,1);
    -webkit-transform-origin: 50% 120%;
    transform-origin: 50% 120%;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
    transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
    background-color: #363736;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    line-height: 15px;
}

.pop-tooltip:hover .pop-tooltip-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

/* Arrow */

.pop-tooltip-content::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    top: 100%;
    background: #363736;
    -webkit-transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
    transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
}
