﻿@charset "utf-8";
/*
 CSS Create by 2fellows
*/
@media (max-width: 1300px){
	/*.bigbanner2f,.bigbanner2f .bx-wrapper,.bigbanner2f .bx-wrapper .bx-viewport,
	.bigbanner2f .bx-wrapper .bx-viewport li,.bigbanner2f .bx-wrapper img,.control-bigbanner2f{ height: 400px !important;}*/
	.sitemaplist2f ul li{
	padding: 0 20px;
}
}
@media (max-width: 1200px){
	#menu2f .navbar-brand{    top: -10px;}
	.control-topright2f{     margin: 15px 0 8px 0;}
	#menu2f .navbar-brand > img{ width: 250px;}
	/*.topsearch2f{    width: 35%;}*/
	.thumbnail-item2f {/*height: 100px; */ margin-bottom: 15px;}
	.home-section02 h5{ margin-bottom: 20px;}
	.home-iconlink .box-icon{ width: 150px; height: 150px;}
	/*.bigbanner2f,.bigbanner2f .bx-wrapper,.bigbanner2f .bx-wrapper .bx-viewport,
	.bigbanner2f .bx-wrapper .bx-viewport li,.bigbanner2f .bx-wrapper img,.control-bigbanner2f{width: auto;height: 400px;}*/
  #menu2f  .nav > li > a{padding: 10px 8px;    background-position: right 17px;font-size: 23px;}
  .top-home, .top-lang2f, .top-search2f{ margin-right: 15px;}
  .top-contact2f span{ font-size: 35px;}
  .top-contact2f img{ height: 25px;}
  .control-social2f > div img{ height:30px; }
  .dropdown_menu2f .container { max-width: 970px; padding-left: 30px;}
  /*.menu_level2f ul.menulevel02 > li > a{ font-size: 22px;}*/
  .menu_level2f ul.menulevel01 > li{ margin-right: 30px;}
  #menu2f .navbar-right {margin-top:0;}
  .footer-contact2f{    background-position: left 5px;}
  .footer-contact2f{ font-size: 27px;}
	.hotline2f strong{    font-size: 24px;}
	.t-knowlage2f a{ font-size: 22px; width: 90%;}
	.home-section03 h3 {font-size: 23px;}

}
@media (max-width: 1024px){
	.wrap-social{position:relative;z-index: 9;}
	.top-contact2f span {font-size: 32px;  padding-right:5px;}
	#menu2f  .nav > li > a{    padding: 13px 10px;font-size: 24px;}
	#menu2f .navbar-brand{margin-top: -30px;}
	.bigbanner2f,.bigbanner2f .bx-wrapper,.bigbanner2f .bx-wrapper .bx-viewport,
	.bigbanner2f .bx-wrapper .bx-viewport li,.bigbanner2f .bx-wrapper img,.control-bigbanner2f{ height:auto!important;}
.home-iconlink .box-icon {width: 100px;height: 100px; /*   background-size: 55px;*/}
.box-text {font-size: 24px;line-height: 24px;}
.home-section02 h2{ font-size: 35px;}
.box-knowlage2f {padding: 30px 20px;}
.home-section03 .box-knowlage2f h3{font-size: 27px;line-height: 25px;}
.t-knowlage2f{font-size: 22px;line-height: 22px; height: 70px;width: 100%;}
.topmain-search2f{top:20px;}
.title-item2f a {font-size: 24px;  line-height: 24px; height: 49px; margin-bottom: 10px;}
.topmain-search2f .nav-tabs > li > a{ padding-top:15px;}
/*.home-iconlink .box-icon{ border-width:5px;}*/
.topmain-search2f .nav-tabs > li > a{ height:55px;}
.topmain-search2f .tab-content{ width:350px;}
.footer-contact2f{ font-size:24px;}
.hotline2f strong{ line-height:22px;}
.top-contact2f img {height: 22px;}
/*.topsearch2f{ width:31%;}*/
.home-section03 h3{ font-size:23px; line-height:26px;}
  .box-more{top:-2px;}
 .menu_level2f ul.menulevel01{ padding-right:15px;}
/* .menu_level2f ul.menulevel01 > li > a{ font-size:24px;}
 .menu_level2f ul.menulevel02 > li > a{ font-size:20px;}*/
 .hotline2f strong{ font-size:22px;}
 #content_article2f .container2f{ padding: 0 15px; }
	}
@media (max-width: 991px){
	.arrow-collapse.active {top: 25px;}
	.input-tab2f .form-control{ font-size:22px;}
	.btn-search{ width:280px; background-size:100%;}
	.topmain-search2f .tab-content{ min-height:inherit;width: 100%;}
	.home-news2f .nopaddingright{ padding-right: 15px;}
	.news-title2f a{font-size: 22px; margin-bottom: 5px; display: block; height: 22px; overflow: hidden;}
	.news-thumbnail2f a{ height: 100px;  margin-bottom: 0;}
	.topsearch2f .form-group{ width: 100%;}
	/*.topsearch2f {  width: 15%;}*/
	.top-lang2f {  margin-left: 0px;}
	#menu2f .navbar-brand > img {height: auto;  width: 180px;}
	.home-section02{    padding: 30px 20px 40px 19px;}
	/*.control-box{ padding: 15px;}*/
	.section_related2f{padding-top: 30px;  padding-bottom: 20px;}
	.list-related2f ul li{ width: 33%;}
	/*.home-iconlink a:hover .box-icon{    border: 5px solid #f26f21;}*/
	.top-social2f,.top-home, .top-lang2f, .top-search2f{ margin-right:6px;}
	.top-contact2f span {font-size: 26px;}
	.top-contact2f img {height: 20px;}
	#menu2f .nav > li > a {    padding: 5px 5px;font-size: 22px; background-position: right 9px;}
	.bg-topright2f,.top-login2f{ height:50px;}
	.top-header2f{ min-height:90px;}
	.top-login2f{    padding-top: 0;}
	.control-topright2f{    margin: 10px 0;}
  .sitemaplist2f ul{ margin-bottom: 30px;}
  .sitemaplist2f ul:nth-child(3){border:none;}
  .footer_menu2f ul li{ width: auto; font-size: 20px; padding-right: 10px; padding-left: 10px;}
  .footer-addr2f h3{ font-size: 30px;}
  .home-news2f p{ font-size:20px; line-height:20px;}
  .home-info-left .bx-wrapper .bx-pager{ padding-top:0;}
  .btn-search_en,.btn-search_th{ max-width: 320px; width:100%; background-size:100%;  margin:0 auto; display:block;}
  .btn-search2f {width: 100%; right: -8px;position: relative;}
.footer_menu2f ul li{ display:none;}
.sitemaplist2f ul h2{ display:block;    font-size: 25px;line-height: 20px;margin-bottom: 10px;}
    .wrap-social {
            position: absolute;
    right: 0;
    bottom: 0;
    }
.topmain-search2f {  top: 0;  position: relative!important;  margin-bottom: 0px;padding-left: 0px;  float: left;    width: 100%;}
.content-tabsearch2f {position: relative;}
.content-tabsearch2f .container {
	width: auto;
	padding: 0;
	}
	.topmain-search2f .tab-content {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.content-tab2f h3 {
	text-align: center;
}
/*.newinsite  #header2f .container,.newinsite #menu2f .container{ width: 100%; }*/
}
@media (max-width: 768px){
    .wrap-social {
        position: relative;
    }
    .top-header2f {
        min-height:60px;
    }
	.home-news2f{ padding-bottom:30px;}
	.home-section02 h5{ max-width:80%; font-size:22px; line-height:22px; margin:0 auto 20px;}
	.home-section01{ padding:30px 0 30px 0;}
	.box-text{ font-size:22px;}
	#menu2f .navbar-brand {top: -5px;}
	/*.topsearch2f { width: 20%;}*/
	.topsearch2f .isearch{ background-size:18px;    height: 25px;}
	/*.control-topright2f{ padding-right:110px;}*/
	.control-topright2f {
    float: left;
    width: 78%;
    margin: 0 -10px !important;
    padding-right: 0;
    padding-top: 10px;
}
	.top-contact2f img { height: 15px;}

	.top-social2f ul li img {width: 20px;}
	.top-social2f{ margin-top:15px;}
	.topsearch2f .form-group{ margin-top:10px;}
	.home-knowlage2f .bx-wrapper .bx-pager, .home-knowlage2f .bx-wrapper .bx-controls-auto { bottom: 30px; padding: 0;}
	.menu_level2f ul.menulevel01{ width:33%;}
	hotline2f strong { font-size: 20px;}
	.top-header2f .top-login2f a span > span{ margin-top:8px;}
	.tx-username{ font-size:30px;}
	.topmain-search2f .tab-content{border-radius:0;}
	.content-tab2f .btn-search_en,.content-tab2f .btn-search_th { max-width: 320px;}
	.control-topright2f div {
        float:none;
	}
    .sub-wrap-social {
            position: absolute;
    right: -27%;
    top: -11px;
    }
    .sitemaplist2f ul:last-child{
	border: none;
}
	.top-lang2f {
    position: absolute;
    top: 10px;
    left: -38px;
}
.topsearch2f {
    float: left;
    width: auto;
    text-align: right;
    padding-right: 23px;
}
	}
@media (min-width: 767px){}
@media (max-width: 767px)
{
		.top-lang2f {
    position: absolute;
    top: 10px;
    left: -90px;
}
    .content-tab2f h3{ text-align:center;}
 .footer-follow2f ul li > span{display:none;}
 #section01_mobile{ display:block;}
 #section01_desktop{display:none;}
/*.top-header2f .top-login2f a span > span{display:none;}*/
.top-header2f .top-login2f.showlogin span img{display:none;}
/*.top-header2f .top-login2f.showlogin a{      background-position: center 9px;  background-image: url(../images/i-login.png);    padding: 5px 0 15px 60px;}*/
.top-social2f {margin-top: 0;}
.control-social2f{left:0;    top: 10px;}
.control-social2f > div img ,.top-social2f .control-social2f  .dropdown-menu > li > a img{  height: 25px; width:auto !important;}
	.btn-search_en,.btn-search_th{max-width:80%;}
	.footer_menu2f ul li{padding-right: 5px; padding-left:5px;}
	.news-thumbnail2f a{ height:150px;}
	.box-more{ right:15px;}
	.menu_level2f ul.menulevel01 > li > a{ font-size: 22px;}
	/*.menu_level2f ul.menulevel02 > li > a {font-size: 20px; margin-bottom: 5px;}*/
	.menu_level2f ul.menulevel01{width: 100%; margin-bottom: 10px;}
	.list-related2f ul li img {  height: auto; width:100%;}
	.list-related2f a {  height: auto;}
.top-header2f .top-login2f.showlogin a {
	padding-top: 8px;
}
	.control-topright2f div.top-contact2f{ float: left;    width: 75%;text-align: center;}
	#search-mobile {
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: absolute;
        top: 69px;
    right: 90px;
    z-index: 9999;
}
.top-lang2f {
    margin-left: 4px;
    margin-right: 15px !important;
    position: absolute;
    right: 47px;
    top: 75px;
    z-index: 9999;
}
	#search-desktop,.top-social2f{     display: block;position: absolute; top: 70px;    right: 160px;z-index: 9999;}
	/*.thumbnail-item2f{ height: 120px;}*/
	.home-knowlage2f,.home-info-left{ margin-bottom: 30px;}

	/*.home-iconlink .box-icon {     margin: 10px auto 10px;border: 5px solid #fff; width: 90px;  height: 90px;  background-size: 50px;}*/
	.bigbanner2f,.bigbanner2f .bx-wrapper,.bigbanner2f .bx-wrapper .bx-viewport,
	.bigbanner2f .bx-wrapper .bx-viewport li,.bigbanner2f .bx-wrapper img,.control-bigbanner2f{ height:auto !important;width:100%;}
  .dropdown_menu2f.menu_mobile{ display:none ;    padding-left: 30px;    float: left;}
  .bg-topright2f,.box01{ display:none;}
	#menu2f .navbar-brand {
    margin-top: 20px;
    top: 0;
    margin-bottom: 10px;
}
	#menu2f  .nav > li{ float: left;width: 100%;}
  .control-topright2f{ float:left;   width: 78%; margin: 0 auto !important; padding-right:0; padding-top:10px;}
  .top-header2f .top-login2f a{ font-size:20px;}
  #menu2f  .nav > li > a{ background-image:none; padding: 10px 10px 7px 30px;font-size: 24px; line-height: 24px;}
  .dropdown_menu2f {position: relative; padding: 20px 15px; background-color:#000;}
  .dropdown_menu2f.menu_fullscreen{ display:none !important;}
  .menu_level2f ul.menulevel01 > li{ width:100%;}
  #menu2f .navbar-header{ padding-bottom:10px; margin-top: -10px;}
  .top-contact2f span {  font-size: 26px;}
  .top-contact2f img {height: 23px;}
  .footer_menu2f ul li a{ font-size: 22px;}
.sitemaplist2f ul{    border-right: 1px dashed #a79184 !important;}
.footer-addr2f,.footer-service2f,.logo-footer2f,.footer-policy2f,.footer04{ text-align: center;}
.footer-contact2f{ background-image: none;}
.footer-contact2f {
    font-size: 18px;
    line-height: 20px;
    margin-bottom:5px;
}
.t-footer {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
.topmain-search2f .nav-tabs > li > a{ height: 47px;}
.input-tab2f .form-control{ margin-bottom: 7px;}
.content-tab2f {padding: 10px 30px 10px 15px;}
.content-tab2f h3{ font-size: 31px; line-height: 30px;}
.topmain-search2f .nav-tabs > li > a{ padding-top: 12px;}
.topmain-search2f .nav-tabs > li > a {background-position: center 8px;  background-size: 20px;}

.topsearch2f .form-group,#social_desktop {display: none;}
#social_mobile{ display: block;}
.topmain-search2f .nav-tabs{ margin-top: 0;}
.topmain-search2f .tab-content{    border-bottom-right-radius: 0;  border-top-left-radius: 0;position: relative;}
.btn-search2f{    margin: 0 -15px 0 0;}
.topmain-search2f .tab-content {width: 100%;    min-height: inherit;}
.content-tabsearch2f{overflow: hidden;}
.content-tabsearch2f .container{ padding: 0;}
.topmain-search2f .nav-tabs{    right: inherit;  width: 100%;  float: left;}
.topmain-search2f .nav-tabs  li.active{left: 0;}
.topmain-search2f .nav-tabs > li {float: left;  margin-bottom: 0;  width: 20%;}
.topmain-search2f .nav-tabs > li.active > a, .topmain-search2f .nav-tabs > li.active > a:hover,
.topmain-search2f .nav-tabs > li.active > a:focus,.topmain-search2f .nav-tabs > li > a{width: 100%;}
.topmain-search2f .nav-tabs  li.active{width: 20%; background-image: none;}
.form-popup2f .btn-login2f .btn {
    font-size: 26px;
    line-height: 26px;
    padding: 4px 16px;
}
.footer-addr2f h3{ margin-bottom:5px;}
.t-footer p{ font-size:18px;}
.arrow-collapse.active {top:25px;}
.sitemaplist2f ul{min-height: 175px; margin-bottom:20px;}
.t-service strong{ min-width: 95px;text-align:left;}
.footer-contact2f a{ padding-left:5px;}
.control-topright2f .topsearch2f > span{display:none;}
.footer02{padding: 10px 0 0 0;}
.list-footermenu2f ul li a {
    color: #000;
    font-size: 13px;
    line-height: 15px;
    font-family: tahoma;
}
.sitemaplist2f ul h2{margin-bottom:5px;}
}
@media (max-width: 600px){
	.control-topright2f{ width: 73%;}
	.footer_menu2f ul li{ width:32%; text-align:center;}
	.home-section01 ul li{ width: 50%;}
	.home-section01 ul li.firsticon_link{ width:100%;}
	.t-copyright2f{ font-size:10px;}
    .sub-wrap-social {
            position: absolute;
    right: -35%;
    }
}
@media (max-width: 480px)
{
    .sub-wrap-social {
            position: absolute;
    right: -23%;
    top: -14px;
    }
    .control-social2f button {
            margin-left: 10px;
    margin-top: -1px;
    }
	.sitemaplist2f ul li{
	padding: 0;
}
    .list-related2f ul li{ padding:0 5px;}
.top-header2f .top-login2f.showlogin a {background-position: 75% 9px;}
	.top-lang2f{top:66px;}
	.footer_menu2f ul li{ font-size: 20px;}
	.top-contact2f{    top: 3px;    position: relative;width:100%!important;}
	#menu2f .navbar-default .navbar-toggle{ margin-top: 7px;}
	#menu2f .navbar-brand {
    margin-top: 10px;
    top: 0;
    margin-bottom: 5px;
}
	.control-topright2f {  width: 80%;}
	.top-header2f .top-login2f a{    background-position: 30px 9px;}

	.top-home,.top-social2f{ display: block;top: 63px;}
	.top-login2f{ width:65px;}
	.top-login2f span{ display:none;}
	.top-header2f .top-login2f a{    padding: 10px 15px 35px 30px;}

	.top-contact2f a { position: relative;top: -3px;}
	.top-contact2f span { font-size:30px;}
	#menu2f .navbar-brand > img {  width: 150px;}
  .footer_menu2f ul li {
    width: auto;
    padding-right: 0;
    width: 50%;
    text-align: center;
}
.popup_login2f .modal-dialog{max-width: 300px;}
.popup_login2f .modal-header {padding: 15px 30px 15px 30px;}
.popup_login2f  .modal-body, .popup_signup2f .modal-body{padding: 30px 30px 30px 30px;}
.form-popup2f h2 {  font-size: 50px;line-height: 40px;}
.form-popup2f h3{ font-size: 30px;}
.btn-login2f .btn {  padding: 5px 17px;}
.topmain-search2f .nav-tabs > li > a{ height: 50px;}
.input-tab2f .form-control{ margin-bottom: 7px;}
.content-tab2f {padding: 10px 30px 10px 15px;}
.toppage-close{top:10px;}

.home-section01 {padding: 20px 0 0 0;}

.logo-dbd2f img{ height: 20px;}
.footer-policy2f ul li a{ padding: 0 5px; top: 0;}
.footer-addr2f h3 {  font-size: 20px; line-height:26px;}

.home-section02 h2{ font-size: 26px; margin-bottom: 5px;}
.home-section02 h5{  font-size: 22px;  line-height: 22px;}

.home-section01 ul li:nth-child(4){ height:185px;}
.box-text{ font-size:22px;}
.home-iconlink .hotline2f  .box-text{ font-size:24px; line-height:24px;}
.tx-username{ font-size:26px;}
.editprofile a,.editprofile a:hover, .editprofile a:active{ font-size:26px;}
.list-related2f ul li { width:50%;}
#search-mobile{top:60px;}
.control-social2f{top:8px;left: -15px;}
.control-social2f .dropdown-menu{left: 15px;}
.footer-follow2f ul li a {
    width:25px;
    height: 25px;
    background-size: 25px;
}
.home_slideitem2f {
	padding: 0;
}
.home_slideitem2f.slick-initialized .slick-slide {
	margin: 0;
}

.home_slideitem2f .slick-arrow {
	display: none!important;
}
.home-section02 {
	padding: 0;
}

.top-contact2f .t-buy {
	font-size: 22px;
}
.top-contact2f span {
	font-size: 22px;
	    top: -4px;
	}
}
@media (max-width: 350px){
	.form-popup2f u a,.form-popup2f .checkbox{ font-size:20px;}
	#search-mobile{ padding-right:5px;}
	#menu2f .navbar-toggle .icon-bar {width: 30px;}
	.box-text{ font-size:20px;}
	#menu2f .navbar-brand{ margin-top:15px; padding:0 5px;}


	.control-topright2f{ width:230px;}
	.top-search2f{ display:none;}
	.control-social2f > div img ,.top-social2f .control-social2f  .dropdown-menu > li > a img{  width: 25px; height:25px;}
	#menu2f .navbar-brand > img {width: 130px;}
	.arrow-social{right: 8px;}

	.btn-search{ width:100%; background-size:100%;}
	}
