@charset "utf-8";
/* --------------------------------------------------------------
   reset.css
   * Resets default browser CSS.
-------------------------------------------------------------- */

html {
  margin:0;
  padding:0;
  border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
    display:block;
}

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}
table, th, td {
  vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }

/* redesign global.css */
body{
	color:#000;
	}
a,button{
	-moz-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -o-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -webkit-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
	 text-decoration:none;
	 }
a:hover, a:focus {
	text-decoration:none;
	}
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:18px;}
h5{ font-size:15px;}
.nopadding{
	padding:0;
	}
.nopaddingright{
	padding-right:0;
	}
.nopaddingleft{
	padding-left:0;
	}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 12px;
    font-size:20px;
    line-height: 24px;
    color:#808A8E;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
.form-control::-webkit-input-placeholder { color: #808A8E;}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #808A8E;  }
.form-control::-moz-placeholder {  /* Firefox 19+ */ color:#808A8E;  }
.form-control:-ms-input-placeholder {  color: #808A8E;  }

.form-popup2f  .input2f .form-control::-webkit-input-placeholder { color: #808A8E;}
.form-popup2f  .input2f .form-control:-moz-placeholder { /* Firefox 18- */ color: #808A8E;  }
.form-popup2f  .input2f .form-control::-moz-placeholder {  /* Firefox 19+ */ color:#808A8E;  }
.form-popup2f  .input2f .form-control:-ms-input-placeholder {  color: #808A8E;  }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline:none;
    outline-offset:none;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus {
    outline: 0;
    outline-offset: 0;
}
.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
	}
/* mega menu */
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
/* end mega menu */
#header2f{
	position: relative;
  border-top: 5px solid #f26f21;
}
#menu2f{
	position: relative;
	z-index: 1;
}
#menu2f .navbar-default {
    background-color: transparent;
}
#menu2f .container-fluid, #menu2f .navbar-collapse {
    padding: 0;
}
#menu2f .navbar-default .navbar-toggle {
    border: none;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}
#menu2f .navbar-brand {
	padding: 0 15px;
	display: inline-block;
	height: auto;
	margin-top: -40px;
	position: relative;
    top: -20px;
}

#menu2f .navbar {
    position: relative;
    min-height: inherit;
    margin-bottom: 0px;
    border: none;
    padding: 0;
}
#menu2f .navbar-right{
	margin-right: 0;
}
.dropdown_menu2f .container{
    width: 100%;
   /* background-color: rgba(0, 0, 0, 0.9);*/
	background-image: url(../images/bg-menu90.png);
	background-repeat: repeat;
    padding: 30px 5px 0 15px;
    z-index: 9;
    max-width: 1000px;
}
#menu2f  .nav > li > a {
	position: relative;
	display: block;
	padding: 13px 20px;
	background-image: url(../images/border-menu.jpg);
	background-repeat: no-repeat;
	background-position: right 18px;
	font-size: 26px;
	color: #000;
}
#menu2f  .nav > li:last-child > a{
	background-image: none;

}
#menu2f  .nav > li:hover > a{
	color: #fff;
	background-color:#f26f21;
	    border-radius: 5px 5px 0 0;
}
.menu_level2f ul.menulevel01{
	width: 25%;
	list-style: none;
	float: left;
	padding-right: 10px;
	margin-bottom: 20px;
	}
.menu_level2f ul.menulevel01 > li{

	}
.menu_level2f ul.menulevel01 > li > a{
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #f26f21;
    font-size: 22px;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
	}
.menu_level2f ul.menulevel01 > li > a,
.menu_level2f ul.menulevel02 > li > a{
	display: block;
	}
.menu_level2f ul.menulevel02 > li {
	list-style: none;
	}
.menu_level2f ul.menulevel02 > li > a{
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    display: block;
    margin-bottom: 0;
    font-family: tahoma;
	}
.menu_level2f ul.menulevel02 > li > a:hover{
	color: #f16a00;
	}
/* css menumobile*/
#menu2f .navbar-default .navbar-toggle{
	border:none;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 0;
	}
#menu2f .navbar-default .navbar-toggle:hover,
#menu2f .navbar-default .navbar-toggle:focus{
	background-color:transparent;
	}
#menu2f .navbar-toggle .icon-bar{
	width: 35px;
    height: 4px;
	margin-top: 3px;
	}
#menu2f .navbar-default .navbar-toggle .icon-bar {
  background-color: #f16a00;
	}
#menu2f .navbar-toggle .icon-bar{
	border-radius:0;
	}
.dropdown_menu2f.menu_fullscreen{display:none;}
.dropdown_menu2f.menu_mobile{ display:none ;}
.top-social2f{
	position: relative;
	line-height: 0;
	cursor: pointer;
	margin-top: 4px;
}
.top-social2f a{
	display:inline-block;
}
.arrow-social{
	position: absolute;
	top: 14px;
	right: 4px;
}
.top-header2f{
	font-size: 20px;
	min-height: 58px;
    position: relative;
    right: -15px;
}
.top-header2f a{
color: #525252;
    display: inline-block;
}
.top-header2f a:hover,
.top-header2f .top-contact2f  a:hover .t-buy{
color: #f26f21;
}
.top-header2f .top-lang2f a{
    border: 1px solid #525252;
    padding: 0 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
}
.top-header2f .top-lang2f a:hover{
border: 1px solid #f26f21;
}
#header2f .container{
	background-color: #fff;
	position: relative;

}
.bg-topright2f{
	height: 59px;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	background-color: #f26f21;
	z-index: 0;
}
.top-login2f{
	position: absolute;
	right: 0px;
	top: 0;
	width: 250px;
	height: 59px;
	background-color: #f26f21;
	background-image: url(../images/bg-top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	padding-top: 6px;
}
.top-header2f .top-login2f a{
	color: #fff;
	font-size: 22px;
	background-image: url(../images/i-login.png);
	background-repeat: no-repeat;
	background-position: 22px 9px;
	padding: 15px 0 15px 60px;
	line-height: 18px;
	display: block;
	text-align: left;
	    min-height: 45px;
}
.top-header2f .top-login2f.showlogin a{
	background-image: url(../images/i-login2.png);

}
.top-header2f .top-login2f a:hover{
	background-image: url(../images/i-login-hover.png);
	color: #000;
}
.top-header2f .top-login2f.showlogin a:hover{
	background-image: url(../images/i-login2-hover.png);
}
.control-topright2f div{
	float: left;
}
.control-topright2f div.top-login2f{
	clear: none;
}
.control-topright2f{
	float: right;
	width: auto;
	margin: 17px 0;
	padding-right: 260px;
}
.top-home ,.top-lang2f,.top-search2f{
	margin-right: 25px;
}
.top-lang2f select{
	border: none;
    margin-top: 3px;
}
.control-social2f{
	position: absolute;
	width: 32px;
	left: -10px;
	height: 128px;
z-index: 100;
}

.top-search2f img{
	height: 20px;
	position: relative;
	top: 6px;
}
.top-search2f{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
	text-align: center;
}
.top-contact2f a{
	color: #000;
	    white-space: nowrap;
}
.top-contact2f span{
	font-size: 44px;
	line-height: 40px;
	font-style: italic;
	font-weight: bolder;
	margin-left: 5px;
	top: -3px;
	position: relative;
}
.logo2f{
	margin-top: 30px;
}
#menu2f .dropdown-menu{
	font-size: 20px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border:none;
    border-radius:0;
    min-width: 200px;
    padding: 20px 0;
}
#menu2f .dropdown-menu > li > a {
    color: #f26f21;
    font-size: 24px;
    line-height: 20px;
    white-space: inherit;
       padding: 5px 20px;
}
#menu2f .dropdown-menu > li > a:hover,
#menu2f .dropdown-menu > li > a:focus {
    background-color:transparent;
    color:#fff;
}
.bigbanner2f,.bigbanner2f .bx-wrapper,.bigbanner2f .bx-wrapper .bx-viewport,
.bigbanner2f .bx-wrapper .bx-viewport li{

	}
.bigbanner2f .bx-wrapper img{ width:100% !important; height:auto !important;}
.bigbanner2f .bx-wrapper .bx-controls-direction a{ display:none;}
.bigbanner2f .bx-wrapper .bx-pager{
  bottom: 10px!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #F26E20 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #3b4453!important;
}
.footer01{
	background-color: #F26E20;
	padding: 10px 0;
	    position: relative;
}
.footer-sitemap2f{
	background-color: #fce2d3;
	padding: 25px 0 50px 0;
}
.footer02{
	background-color: #444;
	padding: 20px 0 10px 0;
}
.footer-addr2f h3 {
    color: #F37022;
    font-size: 35px;
		line-height: 30px;
    font-weight: bold;
		margin-bottom: 10px;
}
.t-footer p {
    color: #CCCCCC;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 10px;
}
.t-footer01 {
    font-size: 20px;
		line-height: 20px;
}
.t-footer01 span {
    display: inline-block;

}
.t-footer01 strong {
    color: #fff;
    margin-left:5px;
    margin-right:5px;
}
.t-footer01 a {
    color: #CCCCCC;
	display:inline-block;
}
.footer-follow2f ul li a{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: left top;
	    background-size: 30px;
}
.footer-follow2f ul li a.ft-facebook{
	background-image: url(../images/i-facebook.png);
}
.footer-follow2f ul li a.ft-facebook:hover,
.footer-follow2f ul li a.ft-facebook:focus{
	background-image: url(../images/i-facebook-hover.png);
}
.footer-follow2f ul li a.ft-twitter{
	background-image: url(../images/i-twitter.png);
}
.footer-follow2f ul li a.ft-twitter:hover,
.footer-follow2f ul li a.ft-twitter:focus{
	background-image: url(../images/i-twitter-hover.png);
}
.footer-follow2f ul li a.ft-youtube{
	background-image: url(../images/i-youtube.png);
}
.footer-follow2f ul li a.ft-youtube:hover,
.footer-follow2f ul li a.ft-youtube:focus{
	background-image: url(../images/i-youtube-hover.png);
}
.footer-follow2f ul li a.ft-google{
	background-image: url(../images/i-google.png);
}
.footer-follow2f ul li a.ft-google:hover,
.footer-follow2f ul li a.ft-google:focus{
	background-image: url(../images/i-google-hover.png);
}
.footer-follow2f ul li a.ft-instagram{
	background-image: url(../images/i-ig.png);
}
.footer-follow2f ul li a.ft-instagram:hover,
.footer-follow2f ul li a.ft-instagram:focus{
	background-image: url(../images/i-ig-hover.png);
}
.footer04{
	background-color: #ecedef;
	padding: 10px 0 10px 0;
	color: #999999;
	font-size: 13px;
	font-family: arial,tahoma;
}
.logo-footer2f img{
	height: 30px;
}
.logo-footer2f a{
	display: inline-block;

}
.footer03{
	padding: 10px 0;
}
.footer-policy2f{ text-align: right;}
.footer-policy2f ul li{ padding: 0;}
.footer-policy2f ul li a{
	font-size: 20px;
	color: #878787;
	padding: 0 10px;
	background-image: url(../images/border-menu-footer.jpg);
	background-repeat: no-repeat;
	background-position: right 6px;
	position: relative;
	top: -7px;
}
.footer-policy2f ul li:nth-child(4) a,
.footer-policy2f ul li:nth-child(5) a{
	background-image: none;
}
.footer-policy2f ul li a:hover,
.t-footer01 a:hover,
.footer-contact2f a:hover,
.list-footermenu2f ul li a:hover{color: #F26E20;}
.list-footermenu2f ul li{
	list-style: none;
}
.logo-dbd2f{
	position: relative;
	top: 5px;
}
.footer-service2f{
	text-align: right;;
}
.footer-contact2f{
	font-size:27px;
	line-height: 30px;
	color: #CCCCCC;
	margin-bottom: 20px;
}
.footer-contact2f a{color:#fff; padding-left: 15px;}
.footer-contact2f{
	/*background-image: url(../images/i-tel02.png);
	background-repeat: no-repeat;
    background-position: 20% 5px;*/
}
.footer-follow2f{
	font-size: 24px;
	color: #999999;
}
.footer-follow2f .list-inline > li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}
.footer_menu2f ul li {
	color: #fff;
	font-size: 25px;
	}
.footer_menu2f ul li{
	padding-left: 15px;
	padding-right: 0;
	width: 16.66666667%;
	float: left;
	text-align: center;
}
.footer_menu2f ul li:first-child{
	padding-left: 5px;
}
.footer_menu2f ul li a:hover{ color: #000;}
.list-footermenu2f ul li a{
	color: #000;
	font-size: 20px;
	line-height: 20px;
}
.dropdown_menu2f.menu_fullscreen{
	position: absolute;
	width: 100%;
	z-index: 999;
}
.sitemaplist2f ul{
	border-right: 1px dashed #a79184;
	min-height: 150px;
}

#wrapper2f{
	background-color: #FAFAFA;
}
.control-bigbanner2f{
	position: relative;
}

.arrow-collapse {
	bottom: 3px;
	left: 50%;
    width: 32px;
    height: 16px;
	background-image: url(../images/arrow-footer.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position:center;
	margin-left: -16px;
	    z-index: 999;
}

.arrow-collapse.active {
	top: 60px;
	background-image: url(../images/arrow-active.png);
	background-repeat: no-repeat;
}
/* update 04/12/59*/
#footer2f {
    clear:left;
}
#content_article2f {
    background-position:center top !important;
}
#content_article2f .container2f {
    margin: 0 auto !important;
}
.bannerleft2f ul li {
   list-style:none;
}
.btn-login2f .btn {
    float: none;
    margin: 0;
    background-image:none;
}
#content_article2f .container2f .right_content2f .breadcrumb2f,#hospital2f .list-hospital2f table.result2f tr td ,
.bgtable2f input,.bgtable2f button,.bgtable2f select,.bgtable2f textarea,.whitebg table tr td.text2f{
    font-family:Geneva, Tahoma, sans-serif;
}
#hospital2f .bgtable2f .whitebg table ,
#hospital2f .bgtable2f .whitebg table span{
   /* font-size:22px;*/
}
.main_content2f {
    position:relative;
}
.top-search-content2f {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}
.top-search-content2f .form-control {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    border: none;
    background: none;
    color: #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        height: 40px;
}
.top-search-content2f .btn {
    padding: 10px;
    background-image: none;
    background-color: #f26f21;
    margin: 0;
    width: 100%;
    font-size: 26px;
    line-height: 20px;
    color: #fff;
    }
.top-search2f span {
    display: block;
    padding: 8px 9px;
}
.toppage2f img{
	width: 100%;
}
.top-lang2f{
	margin-left: 20px;
	    margin-top: 2px;
}
.top-social2f ul li img{ width: 25px;}
.top-social2f ul li{ padding-left: 0;    padding-right: 0;}
#search-mobile{ display: none;}
.control-topright2f .topsearch2f > span
{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 6px;
    }
.top-contact2f .t-buy
{
    font-size: 24px;
    color: #555;
    font-style: italic;
    line-height: 24px;
    position: relative;
    top: -4px;
    margin-left: 5px;
}
.topsearch2f{
	float: left;
	width: auto;
}

.topsearch2f .form-group{
	width: 10%;
	float: right;
	height: 30px;
	position: relative;
	margin-right: 0px;
	margin-top: 17px;
}
.topsearch2f .isearch{
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(../images/search-org.png);
	background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
	width: 25px;
	height: 30px;
}
.topsearch2f .form-control{
	border: none;
	border-bottom: 1px solid #cccccc;
	margin: 0;
	padding-right: 35px;
}
.form-popup2f.t-userprofile h3{
	text-align: center;
	margin-bottom: 15px;
}
.tx-username{
	font-size: 36px;
	line-height: 30px;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}
.editprofile a{
	display: inline-block;
	font-size: 28px;
	color: #fff5c7;
	    text-decoration: underline;
}
.editprofile a:hover{
text-decoration: underline;
}
.editprofile a:hover,.editprofile a:active{
	font-size: 28px;
	}
.editprofile{
	text-align: center;
}
.form-popup2f.t-userprofile .btn-login2f{
	text-align: center;
}
.popupsearch2f .modal{ padding: 0 !important;}
.popupsearch2f  .modal.fade .modal-dialog{
	width: 80%;
    margin: 15% auto;
    max-width:500px;
}
.popupsearch2f  .btn {
    float: none;
    margin: 0;
    background-image: none;
    color: #fff;
    background-color: #f26e20;
    border: 1px solid #fff;
	font-size: 24px;
	line-height: 24px;
	padding: 5px 30px;
}
.popupsearch2f  .btn:hover{
	color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}
.m-search2f{
	text-align: center;
}
.popupsearch2f  .form-control{
	text-align: center;
	font-size: 26px;
	line-height: 25px;
	border: none;
	height: 40px;
	color: #555;
	margin-bottom: 15px;
}
.popupsearch2f .modal-body{
	padding: 20px;
	background-color: #f26f21;
}
.popupsearch2f .text-search{
	font-size: 40px;
    line-height: 30px;
		color: #fff;
		text-align: center;
		margin-bottom: 10px;
}
.toppage2f{
	position: relative;
	line-height:0;
}
.toppage-close {
	position: absolute;
	right: 0;
	top: 15px;
	font-size: 24px;
	line-height: 22px;
	width: 100%;
	text-align: right;
	color: #fff;
	    z-index: 1;
}
.i-close2f{
	display: inline-block;
	cursor: pointer;
}
.toppage2f img {
    width: 100% !important;
    height: auto !important;
}
.toppage2f .i-close2f > img {
    width:auto !important;
    height: 11px !important;
}
#header2f,#wrapper2f,
#menu2f,#footer2f,
.section_related2f,.top-header2f a,
#menu2f  .nav > li > a,.popupsearch2f,
.popup_login2f,
.menu_level2f,.content-tabsearch2f{
	font-family: 'PSLKandaBold'!important;
}
#social_mobile{ display: none;}
.popup_login2f,.popupsearch2f{
	position:relative;
	z-index: 9999;
}
.close img{
	width: 20px;
}
.close{
	top: 10px;
	right: 10px;
	opacity: 1;
	position:absolute;
	z-index:9;
}
.control-social2f button{
	border:none;
	background:none;
	display:block;
	}
.control-social2f  .dropdown-menu > li > a{
    padding: 0;
    line-height: 0;
    text-align: center;
    margin-bottom: 3px;
	}
.top-social2f .control-social2f  .dropdown-menu > li > a img{
	width:32px;
	height:auto;
	}
.control-social2f  .dropdown-menu {
    float: left;
    min-width: 40px;
    padding: 5px;
    margin: 2px 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.control-social2f  .dropdown-menu > li > a:hover,
.control-social2f  .dropdown-menu > li > a:focus{
	background-color:transparent;
	}
.top-header2f .top-login2f a span > span{
	display: inline-block;

    /*margin-top: 2px;*/
    /*font-size: 19px;*/
    /*line-height: 22px;*/
	}
.top-header2f .top-login2f.showlogin span img{ display: block;
 width: 22px;margin-top: 3px;}
.top-header2f .top-login2f.showlogin a	{ padding: 15px 0 0 70px;    background-position: 27px 9px;}
.top-social2f ul li a.social_fb{
	width: 25px;
    height: 25px;
    background-size: 100%;
    background-image: url(../images/facebook1.png);
}
.top-social2f ul li a.social_fb:hover{
	width: 25px;
    height: 25px;
    background-size: 100%;
    background-image: url(../images/facebook1-hover.png);
}
.top-social2f ul li a.social_ig{
	width: 25px;
    height: 25px;
    background-size: 100%;
    background-image: url(../images/instagram1.png);
}
.top-social2f ul li a.social_ig:hover{
	width: 25px;
    height: 25px;
    background-size: 100%;
    background-image: url(../images/instagram1-hover.png);
}
.top-social2f ul li a.social_youtube{
	width: 25px;
    height: 25px;
    background-size: 100%;
    background-image: url(../images/youtube1.png);
}
.top-social2f ul li a.social_youtube:hover{
	width: 25px;
    height: 25px;
    background-size: 100%;
    background-image: url(../images/youtube1-hover.png);
}
.tooltip-inner, .tooltop-arrow {
	display: none;
}
.tooltip-arrow {
	display: none;
}
.payinsurance{
    margin: 0 0 0 10px;


}
.payinsurance p{
   width: auto;
height: auto;
float: left;
padding: 0 10px 0 0;
line-height: 21px;
color:#3F3F3F;
font-size: 25px;
margin: -5px 0 0 0;
 }
.payinsurance p img{
    margin:-5px 11px 0 12px;
}
.payinsurance p img.visacredit
{
    float :left;
    margin:-5px 11px 0px -10px;
}
.payinsurance p img.verify
{
    float :right;
    margin:10px -11px 0px 62px;
}
.imgpay2f {
float: right;
background: ;
}
.step1pay2f {
    float:left;
    margin-top :20px;
    background:url(../../../images/payment/step1.png) no-repeat 10px 7px #F1EEE2;
    width: 760px;
    height:190px;
    margin-left:-10px;
}
.step3pay2f {
	float:left;
	background:url(../../../images/payment/b_pay.png) no-repeat 10px 7px #F1EEE2;
	width: 760px;
	height:auto;
}
.step3pay2f p.txtpayinsu{
    float:left;
    margin :10px 0px 0px 50px;
}
.step3pay2f span.txtpayinsuright{
	font-size: 13px;
	font-weight: lighter;
	float:right;
	margin:15px 15px 0px 50px;
	font-family: Arial, Helvetica, sans-serif;
	}
.step3pay2f table.tbstep2{
	width: 740px;
	border: solid 10px #fff;
	float: left;
	margin-left: 10px;
	margin-top: 16px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	}
.step2pay2f {
    float:left;
    background:url(../../../images/payment/step2.png) no-repeat 10px 6px;
    width: 760px;
    height:260px;
    margin-top: 20px;
   margin-left :-10px;
}
.step2pay2f img.step2
{
    border-top:#999999 1px dashed;
    float :left;
    margin:35px 11px 10px -5px;
}
.step1pay2f p {
 float:left;
 margin-left: 95px;
margin-top: 2px;
}
.step2pay2f p {
 float:left;
 margin-left: 95px;
margin-top: 2px;
}
.step1pay2f .btnpay2f table{
  float: left;
  border: none;
  margin-top:-3px;
  width:760px;
}
.step1pay2f .btnpay2f table tr td.td2f{
 width: 250px;
}
.btn {
 background: url(../../../images/payment/btnverrify.png) no-repeat;
padding: 29px 271px 4px 11px;
border: none;
cursor: pointer;
float:left;
margin:10px 0 0 10px;
}
.btnEng {
 background: url(../../../images/payment/verifyCC.png) no-repeat;
padding: 29px 271px 4px 11px;
border: none;
cursor: pointer;
float:left;
margin:10px 0 0 10px;
}



.button_classC2 {
font-family: @MS PMincho;
font-size: 14px;
font-weight: bold;
color: black;
border: 1px solid #DDDDDD;
padding: 18px 60px 14px 0;
background: url(../../../images/1lite/btnokpayment.png) no-repeat top left;
float: left;
border: none;
margin: -24px 0px 0px 180px;
}


.btn2fen {
background: url(../../../images/payment/btnpayin.png) no-repeat top left;
color: #fff;
border: none;
border-radius: 5px;
width: 120px;
height: 35px;
cursor: pointer;
margin: 10px 0 10px 0;
}
.step1pay2f p.txtpay2f{
    color:#F26C1F;
    font-size:22px;
    float:left;
    margin-top: 13px;
    margin-left: -90px;
}
.step2pay2f  p.txtpay22f{
    color:#F26C1F;
    font-size:18px;
    float:left;
    margin-top: 15px;
 margin-left: -90px;

}
.step2pay2f table tr td.tdlist{
   background: url(../../../images/payment/step2-1.png) no-repeat;

}
.step2pay2f table tr td.tdlist2{
   background: url(../../../images/payment/step2-2.png) no-repeat;

}
.step2pay2f table tr td.tdlist3{
   background: url(../../../images/payment/step2-3.png) no-repeat;

}
.step2pay2f table tr td.tdlist4{
   background: url(../../../images/payment/step2-4.png) no-repeat;

}
.step2pay2f table tr td.tdlist5{
   background: url(../../../images/payment/step2-5.png) no-repeat;

}
.step2pay2f table tr td.tdlist6{
   background: url(../../../images/payment/step2-6.png) no-repeat;

}
.step2pay2f  p.txtlist{
  color: #F26E20;
font-size: 20px;
margin-left: 33px;
margin-top: -7px;
float: left;

}
.step2pay2f  p.txtlist2{
  color: #BFBFBF;
font-size: 17px;
margin-left:35px;

float: left;

}
#content_1lite2f .container2f .right_content2f .payinsurance .step1pay2f  p.txt2{
   font-size: 18px;
float: left;
margin-top: 8px;
margin-left: 13px;
}
 .payinsurance table{
 width: 100%;
border: solid 10px #fff;
float: left;
margin-left: 0px;
margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.payinsurance table tr.bg12f{
 background:#F3F2EF;
}
.payinsurance table tr td{
text-align: left;
/*width: 200px;*/
height: 35px;
font-size: 13px;
}

.payinsurance table tr td.text2f{
text-align: right;
padding: 0 5px 0 0;
width: 265px;
height: 35px;
}
.payinsurance table tr td.backtext2f{
text-align: right;
padding: 0 5px 0 0;
width: 150px;
height: 35px;
}
.payinsurance table tr.bg22f{
background:#FAF9F5;
}
.payinsurance table tr td .submit2f{
    background:url(../../../images/payment/btnokpayment.png) no-repeat top left;
    color:#fff;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin: 10px 0 10px 0;
    float: left;
}
.payinsurance .btn2f{
   background:url(../../../images/payment/btnpayin.png) no-repeat top left;
    color:#fff;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}
.confirmoption {
    width: 100%;


}
.confirmoption {
    width: 100%;
}
.confirmoption .cmtitle{

}
.confirmoption .cmtitle img{
    margin: 5px 0 10px 0;
    float: left;
}
.confirmoption .cmtitle span{
   font-size: 25px;
   font-family: 'psl_kandamodern_probold';
   margin: 0 0 0 10px;
}
.confirmoption .cminsu{
  background:repeat scroll 0 0 #F1EEE2;
    float: left;
    width: 760px;
   height: auto;

}
.confirmoption .cminsu table{
  border: 10px solid #FFFFFF;
    float: left;
    width: 740px;
    font-size: 15px;
    margin: 10px;
}
.confirmoption .cminsu table tr.bg12f {
    background: none repeat scroll 0 0 #F3F2EF;
    height:40px;
    }
.confirmoption .cminsu table tr.bg12f td{
    font-size :14px;
   text-indent: 10px;
    }
    .confirmoption .cminsu table tr.bg13f {
    background: none repeat scroll 0 0 #FAF9F5;
    height:40px;
    font-size: 13px;
    }
     .confirmoption .cminsu table tr.bg13f td{
   font-size :14px;
   text-indent: 10px;
    }
    .confirmoption .cminsu table tr.bg13f td span{
   color :#f26e20;
    }
.confirmoption .cminsu table tr.bg22f {
    background: none repeat scroll 0 0 #FAF9F5;
    height: 40px;
}
.confirmoption .cminsu table tr td.bgleft{
    background:url(../../../images/payment/bgleft.png) no-repeat top left;
    text-align: right;
}
.confirmoption .cminsu table tr td.middle{
    background:url(../../../images/payment/bgleft.png) no-repeat top left;
    width: 162px;
}
.confirmoption .cminsu table tr td span.head{
    margin-left: 10px;
    font-size:14px;
    font-weight: bold;
}
.confirmoption .cminsu table tr td span{
    font-size:14px;
}
.confirmoption .btinsu{

    margin-top: 15px;


}
.confirmoption .btinsu span{
  margin-top: 15px;
    font-size: 15px;


}
.confirmoption .btinsu span.or{
    color:#F26E20;
    font-size: 15px;


}
.confirmoption .btproduct{
    background:repeat scroll 0 0 #F1EEE2;
    float: left;
    margin-top: 5px;
    width: 760px;
    height: auto;
    padding: 0 0 10px 0;

}

.confirmoption .btproduct table{
  border: 10px solid #FFFFFF;
  background:#fff;
    float: left;

    width: 740px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.confirmoption .btproduct table tr{
 border-bottom: 1px dashed #999999;
}
.confirmoption .btproduct table tr td{

}
.confirmoption .btproduct table tr td img.imgproduct{
    width: 210px;
    height: 120px;
    border: 1px solid #000;
}
.confirmoption .btproduct table tr td.tdmiddle{
    width: 250px;
    float: left;
}
.confirmoption .btproduct table tr td.bgleft2{
    background:url(../../../images/payment/bgleftbt.png) repeat-y top left;
    vertical-align: top;
    width: 225px;
}
.confirmoption .btproduct table tr td.bgleft2 span{
    background:#F7F7F7;
    font-size: 20px;
    width: 215px;
    height: 35px;
    display: block;
    padding: 5px 0 0 10px;
    margin: 0 0 0 4px;
}
.confirmoption .btproduct table tr td.tdmiddle .insutop{
    width: 200px;
    float: left;
    margin: 0 0 0 5px;
}

.confirmoption .btproduct table tr td.tdmiddle .insutop table{
    width: 250px;
    margin: 0px;
    float: left;
    background: none;
    border: none;
}
.confirmoption .btproduct table tr td.tdmiddle .insutop table tr{
    float: left;
    border: none;
}
.confirmoption .btproduct table tr td.tdmiddle .insutop  table tr td{

}
.confirmoption .btproduct table tr td.tdmiddle .insutop  table tr td label{
    color: #6E6E6E;
    margin: 0 0 0 10px;
}
.confirmoption .btproduct table tr td.tdmiddle .insudetail{
    width: 250px;
    float: left;
    margin: 0 0 0 15px;
    height: auto;
}
.confirmoption .btproduct table tr td.tdmiddle .insudetail span{
    margin: 0;
    color: #6E6E6E;
}
.confirmoption .btproduct .btnarea{
   margin: 10px 0 20px 319px;
    float: left;

}
.confirmoption .btinsu .btnsb{
   background:url(../../../images/payment/btnsubmit.png) no-repeat top left;
   border: none;
   padding: 35px 0 0 93px;
   float:left;
   margin :10px 0 0 10px;
   cursor: pointer;

}
.confirmoption .btinsu .btnback{
   background:url(../../../images/payment/btnback.png) no-repeat top left;
    border: none;
    padding: 35px 0 0 93px;
     float:left;
   margin :12px 0 0 280px;
   cursor: pointer;
}
#content_1lite2f .container2f .right_content2f .payinsurance .pay2f p,
#content_1lite2f .container2f .right_content2f .payinsurance .step1pay2f p,
#content_1lite2f .container2f .right_content2f .payinsurance .step2pay2f p{ font-size: 22px;}
#content_1lite2f .container2f .right_content2f .payinsurance .step1pay2f p.txtpay2f,
#content_1lite2f .container2f .right_content2f .payinsurance .step2pay2f p.txtpay22f {  color: #F26C1F;}
#hospital2f > span,.container2f > div > div > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: lighter !important;
}
.topmain-search2f .nav-tabs > li{ display:none;}
.sitemaplist2f ul h2{ display:none;}
/*.list-related2f ul li img{ height:auto !important; width:100% !important;}*/
.top-login2f.showlogin strong{    display: inline-block;
    margin-right: 12px;}


/*.step3pay2f tr input{
	position: relative;
    top: 14px;
}
    */

.bg12f input {
	position: relative;
	top: 14px;
}

.bg22f input{
	position: relative;
	top: 9px;
}

#ContentPlaceHolderDefault_cp_content_TNIFrontPayInsuranceOnline_15_txtEmail,#ContentPlaceHolderDefault_cp_content_TNIFrontPayInsuranceOnline_15_txtTel {
	top: 10px;
}
#ContentPlaceHolderDefault_cp_content_TNIFrontPayInsuranceOnline_15_txtCaptcha {
	top: 2px;
}
.footer-addr2f h3{
	white-space: nowrap;
}

#quoteonline2f .bgtable2f .whitebg table tr td label{
	    position: relative;
    top: -3px;
    font-size: 12px;
    font-family: tahoma;
}

#quoteonline2f .bgtable2f .whitebg table tr td span {
	    font-size: 12px;
    font-family: tahoma;
}

.bg2f td {
	position: relative;
}
td.auto-style1 > span{
	text-align:right;
	}
.pagenotfound img{
	display: block;
	margin: 0 auto;
	width: 100%;
}

.radio-wrap span{
	padding-right: 5px;
}


/* 18-02 */
#share_button{
	display: block;
	position: relative;
	margin-right: 3px;
}
#share_button .pluginButtonLabel{
	position: absolute;
	display: block;
	left: 0;
	padding: 0;
	top: 0;
	width: 45px;
	text-align: center;
	}
.pluginButtonContainer{
	width: 42px;
}
.pluginButton{
	float: left;
	color: #fff;
	font-family: tahoma;
	font-weight: bold;
}
/* end global */
/* css home.css redesign */
.home-section01{
  padding: 50px 0 0 0;
  float: left;
  width: 100%;
}
.home-section01 ul li{     text-align: center;width: 20%; float: left;}
.home-iconlink span{
  display: block;
}
.box-text{
  font-size: 28px;
  line-height: 28px;
  color: #000;
  text-align: center;
}
.home-iconlink a:hover .box-text{
  color: #f26f21;
}
.home-iconlink .box-icon{
/*  width: 170px;
  height: 170px;
  -moz-border-radius:200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
  behavior: url(PIE.htc);
  position: relative;
    zoom: 1;
  background-repeat: no-repeat;
  background-position: center;
  border:7px solid #fff;
  margin: 0 auto 20px;
  background-color: #e0e0e0;
  -moz-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
     -o-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
     -webkit-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
     transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
*/

  width: 170px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s all ease;
      display: block;
    margin: 0 auto;
}
.home-iconlink a:hover .box-icon{
/*  border:7px solid #f26f21;
  background-color: #fff;*/
}
.home-iconlink.icon01 .box-icon{
	background-image: url(../images/i-garage-n.png);
}
.home-iconlink.icon01 a:hover .box-icon{
	background-image: url(../images/i-garage-hover-n.png);
}
.home-iconlink.icon02 .box-icon{
	background-image: url(../images/i-hospital-n.png);
}
.home-iconlink.icon02 a:hover .box-icon{
	background-image: url(../images/i-hospital-hover-n.png);
}
.home-iconlink.icon03 .box-icon{
	background-image: url(../images/i-claim-n.png);
}
.home-iconlink.icon03 a:hover .box-icon{
	background-image: url(../images/i-claim-hover-n.png);
}
.home-iconlink.icon04 .box-icon{
	background-image: url(../images/i-payment-n.png);
}
.home-iconlink.icon04 a:hover .box-icon{
	background-image: url(../images/i-payment-hover-n.png);
}
.home-iconlink.icon05 .box-icon{
	background-image: url(../images/i-renew-n.png);
}
.home-iconlink.icon05 a:hover .box-icon{
	background-image: url(../images/i-renew-hover-n.png);
}
.home-section02{
  clear: left;
  background-color: #fff;
  padding: 30px 30px 60px 30px;
  margin-bottom: 40px;
}
.box-slideitem2f{
  text-align: center;
}
.home-section02 h2{
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: #000;
}
.home-section02 h5{
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  color: #F26D1F;
  margin-bottom: 30px;
}
.home_slideitem2f{
  padding: 0 30px;
}
.box-slideitem2f{
  padding: 0;
  -moz-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
     -o-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
     -webkit-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;
     transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in,border .2s ease-in;

}
.control-box{
  padding: 0;
}
.home_slideitem2f.slick-initialized .slick-slide {
    display: block;
    height: auto;
    margin:0 10px;
    border-radius:5px;
    overflow:hidden;
    border:1px solid #cccccc;
        box-shadow: 0px 4px 6px #ccc;
    }
.home_slideitem2f .box-slideitem2f:hover{
  background-color: #f26e20;
}

.home_slideitem2f .box-slideitem2f:hover .title-item2f a{
  color: #000;
}
.home_slideitem2f .box-slideitem2f:hover .control-box > p > a{
  color: #fff;
}
.home_slideitem2f .box-slideitem2f:hover .btn-buy2f .btn{
background: rgba(255,255,255,1);
background: url(../images/i-shopcart_black.png) 20px center no-repeat,-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 58%, rgba(240,240,240,1) 95%, rgba(214,214,214,1) 97%, rgba(214,214,214,1) 100%);
background: url(../images/i-shopcart_black.png) 20px center no-repeat,-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(58%, rgba(209,209,209,1)), color-stop(95%, rgba(240,240,240,1)), color-stop(97%, rgba(214,214,214,1)), color-stop(100%, rgba(214,214,214,1)));
background: url(../images/i-shopcart_black.png) 20px center no-repeat,-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 58%, rgba(240,240,240,1) 95%, rgba(214,214,214,1) 97%, rgba(214,214,214,1) 100%);
background: url(../images/i-shopcart_black.png) 20px center no-repeat,-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 58%, rgba(240,240,240,1) 95%, rgba(214,214,214,1) 97%, rgba(214,214,214,1) 100%);
background: url(../images/i-shopcart_black.png) 20px center no-repeat,-ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 58%, rgba(240,240,240,1) 95%, rgba(214,214,214,1) 97%, rgba(214,214,214,1) 100%);
background: url(../images/i-shopcart_black.png) 20px center no-repeat,linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 58%, rgba(240,240,240,1) 95%, rgba(214,214,214,1) 97%, rgba(214,214,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6', GradientType=0 );
-webkit-box-shadow: 0px 2px 6px 0px rgba(97,97,97,1);
-moz-box-shadow: 0px 2px 6px 0px rgba(97,97,97,1);
box-shadow: 0px 2px 6px 0px rgba(97,97,97,1);
}
.thumbnail-item2f{

  margin-bottom: 25px;
}
.thumbnail-item2f img{

  width: 100%;
  display: block;
  margin: 0 auto;
}
.title-item2f a{
  font-size: 26px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
  height: 52px;
  overflow: hidden;
  display: block;
}
.title-item2f a:hover span{
  color: #fff;
}
.control-box > p > a{
  color: #777777;
  font-size: 13px;
  font-family: arial,tahoma;
  margin-bottom: 20px;
  height: 96px;
  overflow: hidden;
  display: block;
}
.btn-buy2f .btn{
  width: 110px;
  transition: .5s all ease;
  height: 35px;
  color: #000;
  font-size: 26px;
  border-radius: 3px;
  /*background-color: #f26f21;*/
  padding: 0px;
  line-height: 19px;
  /*background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url(../images/i-shopcart_black.png);*/
  padding-left: 25px;
  /*box-shadow: 1px 1px 1px #6b727c;*/
      float: none;
    margin: 0;
    background: rgba(255,175,117,1);
    background: url(../images/i-shopcart_black.png) 20px center no-repeat, -moz-linear-gradient(top, rgba(255,175,117,1) 0%, rgba(242,110,33,1) 58%, rgba(225,98,32,1) 95%, rgba(204,75,0,1) 97%, rgba(204,75,0,1) 100%);
    background: url(../images/i-shopcart_black.png) 20px center no-repeat, -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,117,1)), color-stop(58%, rgba(242,110,33,1)), color-stop(95%, rgba(225,98,32,1)), color-stop(97%, rgba(204,75,0,1)), color-stop(100%, rgba(204,75,0,1)));
    background: url(../images/i-shopcart_black.png) 20px center no-repeat, -webkit-linear-gradient(top, rgba(255,175,117,1) 0%, rgba(242,110,33,1) 58%, rgba(225,98,32,1) 95%, rgba(204,75,0,1) 97%, rgba(204,75,0,1) 100%);
    background: url(../images/i-shopcart_black.png) 20px center no-repeat, -o-linear-gradient(top, rgba(255,175,117,1) 0%, rgba(242,110,33,1) 58%, rgba(225,98,32,1) 95%, rgba(204,75,0,1) 97%, rgba(204,75,0,1) 100%);
    background: url(../images/i-shopcart_black.png) 20px center no-repeat, -ms-linear-gradient(top, rgba(255,175,117,1) 0%, rgba(242,110,33,1) 58%, rgba(225,98,32,1) 95%, rgba(204,75,0,1) 97%, rgba(204,75,0,1) 100%);
    background: url(../images/i-shopcart_black.png) 20px center no-repeat, linear-gradient(to bottom, rgba(255,175,117,1) 0%, rgba(242,110,33,1) 58%, rgba(225,98,32,1) 95%, rgba(204,75,0,1) 97%, rgba(204,75,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf75', endColorstr='#cc4b00', GradientType=0 );
    -webkit-box-shadow: 0px 2px 6px 0px rgba(184,67,0,1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(184,67,0,1);
    box-shadow: 0px 2px 6px 0px rgba(184,67,0,1);
}
.slick-dots{ display: none !important;}
.home-section02 button.slick-prev,
.home-section02 button.slick-next{
	background-color:transparent;
	background-repeat:no-repeat;
  position: absolute;
  border:none;
  width: 30px;
  height: 40px;
  text-indent: -9999px;
  z-index: 10;
  top:45%;
	}
.home-section02 button.slick-prev{
	background-image:url(../images/left_2.png);
	left:0;
	}
.home-section02 button.slick-next{
	background-image:url(../images/right_2.png);
	right:0;
	background-position: right;
	}
.box-more {
  position: absolute;
  top:2px;
  right: 15px;
}
.box-more a{
  color:#999999;
  font-size: 20px;
}
.box-more a:hover{
	font-size: 20px;
	}
.box-more a:hover,
.news-title2f a:hover{
  color:  #f26f21;
}
.box-more img{
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.home-section03{
  padding-bottom: 50px;
}
.home-section03 h3 span{
  font-size: 30px;
      color: #F26D1F;
  line-height: 30px;
  max-height:60px;
  overflow:hidden;
  display:block;
}
.news-thumbnail2f a{
  display: block;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #000;
}
.news-thumbnail2f img{
  height: 100%;
  display: block;
  margin: 0 auto;
}
.news-title2f a{
  font-size: 21px;
  color: #000;
  line-height: 22px;
  margin-bottom: 15px;
  display: block;
  margin-top: 10px;
  font-size: bold;
}
.news-update{
 color: #292929;
 font-size: 13px;
 font-family: arial,tahoma;
 margin-bottom: 10px;
}
.home-news2f p{
  font-size: 20px;
  line-height: 20px;
  color: #000;
  height: 20px;
  overflow: hidden;
}
.content-vdo2f .plyr{
  border-radius: 5px;
}
.content-vdo2f{
  margin-bottom: 20px;
}
.title-vdo2f{
  font-size:26px;
  line-height: 26px;
  color: #000;
}
.home-info-left .bx-wrapper img{
  max-width: inherit;
}
.home-info-left .bx-wrapper .bx-viewport,
.home-knowlage2f .bx-wrapper .bx-viewport{
  background: none;
}
.home-info-left .bx-wrapper .bx-controls-direction a,
.home-knowlage2f .bx-wrapper .bx-controls-direction a{
  display: none;
}
.home-info-left .bx-wrapper{
  background-color: #b1b1b1;

}
.home-news2f{
  padding: 15px 15px 40px 15px;
}
.home-info-left .bx-wrapper .bx-pager.bx-default-pager a,
.home-knowlage2f .bx-wrapper .bx-pager.bx-default-pager a {
    background: #999997!important;
}
.home-info-left .bx-wrapper .bx-pager.bx-default-pager a:hover,
.home-info-left  .bx-wrapper .bx-pager.bx-default-pager a.active,
.home-knowlage2f .bx-wrapper .bx-pager.bx-default-pager a:hover,
.home-knowlage2f .bx-wrapper .bx-pager.bx-default-pager a.active{
  background: #f57025!important;
}
.home-info-left .bx-wrapper .bx-pager,
.home-info-left .bx-wrapper .bx-controls-auto{
  bottom: 20px;
}
.home-knowlage2f .bx-wrapper{
  height: 260px;
}
.box-knowlage2f{
  text-align: center;
}
.home-knowlage2f .bx-wrapper .bx-pager,
.home-knowlage2f .bx-wrapper .bx-controls-auto{
  bottom: 25px;
  padding: 0;
}
.box-knowlage2f{
  padding:30px  30px;
}
.box-knowlage2f h3{
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../images/border-bottom.png);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.t-knowlage2f a{
  font-size: 24px;
  line-height: 24px;
  color: #777777;
  width: 80%;
  margin: 0 auto 20px;
  height: 72px;
  overflow: hidden;
  display:block;
}
.t-knowlage2f a:hover {
    color:#000;
    }
.section_related2f{
  background-color: #fafafa;
  border-top:1px solid #c1c2c7;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}
.list-related2f a{
  display: block;
  height: auto;
}
.list-related2f a img{
  height: auto;
  max-width: 100%;
  height: 75px;
}
.list-related2f ul li{
  width: 20%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}
.text-related{

  width: 200px;
  background-color: #fafafa;
  display: inline-block;
  text-align: center;
  color: #999999;
  font-size: 29px;
  position: absolute;
  top: -21px;
  left: 50%;
  margin-left: -100px;
}
/*.list-related2f ul li img
{
    width:100%;
}*/
.popup_login2f .modal-dialog {
    width: 100%;
    max-width: 420px;
        margin: 80px auto;
}
.popup_signup2f .modal-dialog {
    width: 100%;
    max-width: 650px;
      margin: 80px auto;
}
.popup_login2f .modal-content ,.popup_signup2f .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.popup_login2f .modal-header img,
.popup_signup2f .modal-header img{
  height: 40px;
}
.popup_login2f .modal-header {
    min-height: 16.42857143px;
    padding: 15px 40px 15px 60px;
    border-bottom: none;
}
.popup_login2f  .modal-body,.popup_signup2f .modal-body{
  background-color: #f26e20;
  position: relative;
  padding: 30px 50px 30px 60px;
  color: #fff;
}
.form-popup2f h2{
  font-size: 60px;
  line-height: 50px;
  text-align: right;
}
.form-popup2f h3{
  font-size: 40px;
  line-height:30px;
  text-align: right;
  margin-bottom: 10px;
}
.form-popup2f  .input2f .form-control{
  color: #000;
  font-size: 26px;
  line-height: 20px;
  height: 40px;
  background-color: #fff;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 15px;
  border:none;
  border-radius: 3px;
}
.input2f.input-text .form-control{
  background-image: url(../images/i-user.png);
}
.input2f.input-pass .form-control{
  background-image: url(../images/i-password.png);
}
.input2f.input-pass .form-control:focus{
background-image: url(../images/i-password-focus.png);
}
.form-popup2f .checkbox{
  color: #F2F2EA;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 0;
}
.form-popup2f u a{
  color: #E5FF99;
  font-size: 24px;
  line-height: 20px;
  text-decoration:underline;
  float:right;
}
.form-popup2f u a:hover{
  color: #000;
}
.btn-login2f{
  margin-top: 25px;
}
.btn-login2f .btn{
  font-size: 26px;
  line-height: 26px;
  padding: 8px 35px;
}
.btn-login2f .btn.btn-signin{
  margin-right:15px;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-login2f .btn.btn-signin:hover,
.btn-login2f .btn.btn-signin:focus{
  color: #fff;
  background-color: #f26e20;
  border: 1px solid #fff;
}
.btn-login2f .btn.btn-signup{
  color: #fff;
  background-color: #f26e20;
  border: 1px solid #fff;
}
.btn-login2f .btn.btn-signup:hover,
.btn-login2f .btn.btn-signup:focus{
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}
.content-tabsearch2f{
  position: absolute;
  width: 100%;
  right: 0;
  top:0;
}
.topmain-search2f{
  width: auto;
  position: absolute;
  right: 0;
  top:60px;
}
.nav-tabs{
  width: 55px;
}
.topmain-search2f .nav-tabs  li{
  width: 70px;
  background-image: url(../images/tab-active.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  left: 0;
    border-radius: 7px 0 7px 0;
}
.topmain-search2f .nav-tabs > li > a{
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  border: none;
  height: 58px;
  width: 55px;
  position: relative;
  padding: 18px 0 0 0;
  text-align: center;
}
.topmain-search2f .nav-tabs > li.active > a,
.topmain-search2f .nav-tabs > li.active > a:hover,
.topmain-search2f .nav-tabs > li.active > a:focus{
  border:none;
  width: 65px;
  background-color: transparent;
  }
.topmain-search2f .nav-tabs > li {
    float: right;
    margin-bottom: 0;
	background-image: url(../images/bg-org89.png);
	background-repeat: repeat;

}
.topmain-search2f  .nav-tabs > li > a{
  background-repeat: no-repeat;
  background-position: center 10px;
}

.topmain-search2f  .nav-tabs > li.active > a.icon_tab01{
  background-image: url(../images/i-home-tab01.png);
  background-position: center 15px;
}
.topmain-search2f  .nav-tabs > li > a.icon_tab01{
  background-image: url(../images/i-home-tab01-hover.png);
}
.topmain-search2f  .nav-tabs > li > a.icon_tab02{
  background-image: url(../images/i-home-tab02.png);
}
.topmain-search2f  .nav-tabs > li.active > a.icon_tab02{
  background-image: url(../images/i-home-tab02-hover.png);
}
.topmain-search2f  .nav-tabs > li > a.icon_tab03{
  background-image: url(../images/i-home-tab03.png);
}
.topmain-search2f  .nav-tabs > li.active > a.icon_tab03{
  background-image: url(../images/i-home-tab03-hover.png);
}
.topmain-search2f  .nav-tabs > li > a.icon_tab04{
  background-image: url(../images/i-home-tab04.png);
}
.topmain-search2f  .nav-tabs > li.active > a.icon_tab04{
  background-image: url(../images/i-home-tab04-hover.png);
}
.topmain-search2f  .nav-tabs > li > a.icon_tab05{
  background-image: url(../images/i-home-tab05.png);
}
.topmain-search2f  .nav-tabs > li.active > a.icon_tab05{
  background-image: url(../images/i-home-tab05-hover.png);
}
.topmain-search2f .nav-tabs {
  border-bottom: none;
  float: left;
  position: relative;
  right: 0px;
      margin-top: 0;
}
.topmain-search2f .tab-content{
  float: left;
  width: 370px;
	background-image: url(../images/bg-org89.png);
	background-repeat: repeat;
  min-height: 335px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  }
  .content-tabsearch2f .container{
    position: relative;
  }
  .content-tab2f{
      padding: 20px 40px 20px 25px;
      position: relative;
  }
  .input-tab2f .form-control{
    border-radius: 5px;
    color: #000;
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 15px;
    height: 40px;
        padding: 4px 5px;
  }
.content-tab2f h3{
  text-align: right;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.btn-search_th{
  width: 320px;
  height: 50px;
  background-image: url(../images/btn-search3.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.btn-search_en{
  width: 320px;
  height: 50px;
  background-image: url(../images/btn-search3_en.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.btn-search:hover{
  opacity: 0.9;
}
.btn-search2f{
  text-align: center;
}
.hotline2f img{
  width: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.hotline2f strong{
  color:#40403e;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}
.home-iconlink span.box-text{
  display: inline-block;
}
.home-iconlink .hotline2f  .box-text{
  color: #f26e20;
  font-size: 26px;
  line-height: 26px;
  font-style:italic;
}
.topmain-search2f  .nav-tabs > li > a > span{
  color: #fff;
  font-size: 15px;
  display: block;
}
.topmain-search2f  .nav-tabs > li.active > a > span{
  color: #fff;
}
.home-section03 h3 {
    font-size: 30px;
    color: #000;
    line-height: 30px;
    margin-bottom: 15px;
}
/*login*/
.form-popup2f .t-warning{
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 15px;
    color: #650000;
}
.form-popup2f .btn-login2f .btn {
    font-size: 26px;
    line-height: 26px;
    padding: 8px 37px;
}
 #section01_mobile{ display:none;}

 #menu2f .navbar-brand > img{ height:40px;}
 .control-box .btn-buy2f{ margin-bottom:20px;}
 .control-box > p{ text-align:left; padding:0 10px;}
 .control-box .title-item2f{ margin:0 auto;}

 .list-related2f ul li p
 {
         border:1px solid #c1c2c7;
    display: block;
    box-shadow: 3px 3px 3px #ccc;
    border-radius: 5px;
    overflow: hidden;line-height:0;
    background-color: #ecedef;
     }
.list-related2f ul li
{
    padding: 0 10px;
    }
.t-service strong
{
    min-width:122px;
    display:inline-block;
    text-align:left;
    }
.content-vdo2f iframe
{
    height:255px;
    }
.btn-login2f {
  text-align: center;
}
.browser-support2f{ text-align: right;}

@media (max-width: 767px){
.browser-support2f{display:none;}
}
.container2f .datepicker {
    padding: 4px;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
    border-radius: 0;
    direction: ltr;
}
.t-sumright{
	text-align:right;
	}
#productoption1 	.t-check01{
	font-size:14px !important;
	margin:0 !important;
	}
#productoption1 	.t-check01 input[type="checkbox"]{
	position: relative;
	top: 2px;
	}	
#compare2f table tr#productoption1 td.col-des2.col-des-nobg,
#compare2f table tr#productoption1 td.col-des3.col-des-nobg{
	padding-top:0px;
}	
#confirmsummarynonmotor .bgtable2f .whitebg table tr td.t-black,
#confirmpaforchildnonmotor .bgtable2f .whitebg table tr td.t-black,
.t-black{color:#000 !important; }